table, th, td {
    padding: 10px;
    border: 1px solid green;
    border-collapse: collapse;
}

table, #newTaskForm {
    margin: auto;
    width: 70%;
}

thead, button {
    background-color: #D7FABB;
}

.spaceLine {
    height: 100px;
}

.buttons {
    display: flex;
    justify-content: end;
    margin-right: 16%;
}

#editButton, #deleteButton {
    border: 1px green solid;
    padding: 7px;
    width: 10%;
    margin-top: 1%;
    margin-left: 1%;
    cursor: pointer;
}